.contacts-container {
  display: flex;
}

.contacts__info {
  width: 680px;
  padding: 105px 0 120px 160px;
  outline: 1px solid var(--light-gray);
}

.contacts__address {
  display: inline-block;
  margin-top: 15px;
  font-size: 16px;
}

.contacts__form {
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  min-height: 225px;
}

.contacts__sub-heading {
  font-size: 24px;
}

.form__input {
  padding: 7px 35px;
  border-radius: 100px;
  border: 2px solid var(--main-font-color);
}

.contacts__order-btn {
  display: block;
  padding: 17px 35px;
  max-width: 158px;
  border-radius: 100px;
  border: 2px solid var(--purple-color);
  background-color: transparent;
  color: var(--purple-color);
  font-size: 18px;
  font-weight: 800;
}

.contacts__order-btn:hover {
  background-color: var(--purple-color);
  color: var(--invert-font-color);
}

.contacts__order-btn:active {
  background-color: var(--active-purple-color);
  color: var(--invert-font-color);
}

.form__input::-webkit-input-placeholder {color:var(--light-font-color)}
.form__input::-moz-placeholder {color:var(--light-font-color)}
.form__input:-moz-placeholder{color:var(--light-font-color)}
.form__input:-ms-input-placeholder{color:var(--light-font-color)}

.msngr-heading {
  display: inline-block;
  margin-top: 45px;
}

.msngr-list {
  display: flex;
  margin-top: 20px;
}

.msngr__item:not(:last-child) {
  margin-right: 20px;
}

.msngr__item-link {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.whatsapp {
  background-image: url('../img/Whatsapp-Icon.svg');
}

.telegram {
  background-image: url('../img/Telegram_2019_Logo.svg');
}

#map {
  width: 1200px;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}