.events {
  padding-top: 90px;
  padding-bottom: 80px;
}

.articles-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 51px;
}

.events__article {
  position: relative;
  padding-bottom: 48px;
  width: 500px;
  min-height: 700px;
  border: 1px solid var(--light-gray);
}

.events__article:not(:last-child) {
  margin-right: 15px;
}

.article__content-container {
  padding: 13px 17px 30px 50px;
}

.article__place, .article__date {
  display: block;
  text-align: right;
  color: var(--light-font-color);
  font-size: 12px;
  font-weight: 600;
}

.article__place {
  margin-bottom: 4px;
}

.article__date {
  margin-bottom: 6px;
}

.article__heading {
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.article__text {
  line-height: 32px;
  padding-bottom: 10px;
}

.article__more-link {
  position: absolute;
  bottom: 48px;
  color: var(--purple-color);
  border-bottom: 1px solid var(--purple-color);
}

.events__all-btn {
  display: block;
  margin: 0 auto;
  padding: 17px 35px;
  border-radius: 100px;
  border: 2px solid var(--purple-color);
  background-color: transparent;
  color: var(--purple-color);
  font-size: 18px;
  font-weight: 800;
}

.events__all-btn:hover {
  background-color: var(--purple-color);
  color: var(--invert-font-color);
}

.events__all-btn:active {
  background-color: var(--active-purple-color);
  color: var(--invert-font-color);
}